# Lola github account: 
Host lola.github.com
   HostName github.com
   IdentityFile ~/.ssh/Lola
   IdentitiesOnly yes
   
# John github account:
Host john.github.com
   HostName github.com
   IdentityFile ~/.ssh/John
   IdentitiesOnly yes

# Default github account:
Host github.com
   HostName github.com
   IdentityFile ~/.ssh/OrxataGuy
   IdentitiesOnly yes
